<!-- NAVBAR -->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">Al-Malki</a>
  </mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect *ngIf="isLoggedIn" (click)="logout()">خروج</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect *ngIf="!isLoggedIn">دخول</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
<!-- NAVBAR -->
<div class="container">
  <router-outlet></router-outlet>
</div>