.navbar {
    background-color: red;
    height: 30px;
    padding: 2px;
    nav {
        float: right;
        ul {
            list-style: none;
            display: inline;
            li {
                display: inline;
                a,
                a:link,
                a:visited,
                a:active {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}
